<div class="container">
    <div class="m-2">
        <div class="d-flex">
            <input type="hidden" [(ngModel)]="InputId">
            <input type="text" [(ngModel)]="InputDescription" placeholder="Description" class="form-control" value="{{InputDescription}}">
            <input type="number" [(ngModel)]="InputAmount" placeholder="Amount" class="form-control" style="margin-left: 5px;" value="{{InputAmount}}">
        </div>

        <div class="m-1">
            <button class="btn btn-primary" (click)="edit === true ? updateExtract(this.InputId) : insertExtract()">{{edit == false ? 'Insert' : 'Edit'}}</button>

            <button class="btn btn-danger" (click)="clickCancelEdit()" [hidden]="!edit">Cancel</button>
        </div>
    </div>

    <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Amount</th>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let item of lstExtract">
        <td>{{item.description}} - {{item.id}}</td>
        <td>R$ {{item.amount}}</td>
        <td>{{item.type == true ? 'Avulso' : 'Sistema'}}</td>
        <td>{{item.status}}</td>
        <td>{{item.date | date: 'dd/MM/yyyy - hh:mm'}}</td>
        <td>
            <button class="btn btn-primary btn-sm" (click)="clickUpdate(item.id, item.description, item.amount)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
            </button>

            <button class="btn btn-danger btn-sm" style="margin-left: 2px" (click)="cancelExtract(item.id)" title="{{item.id}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
            </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <b>Total:</b> R$ {{getTotal()}}
  </div>
</div>